# to exclude Obsidian workspace settings (including plugin and hotkey configurations)
# .obsidian/*

# OR only to exclude workspace cache
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/community-plugins.json

# Exclude plugins but keep the data.json files in order to sync plugin settings
.obsidian/plugins/*/*
!.obsidian/plugins/*/data.json

# This file is used to keep track of last auto backup/pull
.obsidian-git-data

# Exclude Untitled Notes
Untitled*
# Exclude "bad" names
null*

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store

# Exclude CLI directory
3. Mechanics/CLI/